{% extends 'inicio.html' %}
{% block content %}
{% load static %}    
<div class="index-content">
    <div class="row" style="margin: 10px">
            {% csrf_token %}
            {% for aux in manga %}
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4" >
                    <div class="card card-inverse card-info">
                        <img class="card-img-top" src="{{aux.capa.url}}">
                        <div class="card-block">
                            <div class="card-title">
                                <a href="add/manga/{{aux.id}}" >{{aux.titulo}}</a>
                            </div>
                            <div class="card-text">
                                Tags: {{aux.tags}}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}