{% extends 'inicio.html' %}
{% block content %}
{% if user.is_authenticated %} 
<script>
    window.location = "/";
</script>
{% endif %}
<div class="row align-items-center justify-content-center">
<form action="{% url 'usuario:cadastro' %}" method="post" class="form-signin">
    {% csrf_token %}
    <label for="campo1">Nome:</label>
    {{form.first_name}}
    {{form.first_name.errors}}
    <label for="campo2">Sobrenome</label>
    {{form.last_name}}
    {{form.last_name.errors}}
    <label for="campo3">Email</label>
    {{form.email}}
    {{form.email.errors}}
    <label for="campo3">Usuario</label>
    {{form.username}}
    {{form.username.errors}}
    <label for="campo3">Senha</label>
    {{form.password}}
    {{form.password.errors}}
    <label for="campo3">Confirmar Senha</label>
    {{form.password_confirm}}
    {{form.password_confirm.errors}}
    <br>
    <a href="/" class="btn btn-danger" role="button">Cancelar</a>    
    <button type="submit" class="btn btn-success">Salvar</button>
</form>
</div>
{% endblock %}